<!DOCTYPE html>
<html>
<head>
    <title>NHL Data Retrieveal</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="header-container">
        <a href="/submit" class="submit"><h1>NHL Schedule Retrieval</h1></a>
        <a href="/stats" class="submit"><h1>NHL Statistics Retrieval</h1></a>
    </div>
    <form action="/submit" method="POST">
        <div class="dropdown-container">
            <div class="dropdown-wrapper">
                <label for="teams">Teams:</label>
                <select type="text" id="teams" name="teams">
                    {% for team in teams %}
                    <option value="{{ team }}" {% if team == default_team %}selected{% endif %}>{{ team }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit">Submit</button>
        </div>
    
        
    </form>

</body>
</html>