<!DOCTYPE html>
<html>
<head>
    <title>NHL Data Retrieveal</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/schedule.css') }}">
    <style>
        /* Add CSS styles for the calendar here */
        .calendar {
            display: grid;
            grid-template-columns: repeat(7, 1fr); /* 7 columns for each day of the week */
            gap: 10px; /* Adjust the gap between cells as needed */
        }
        .calendar-day {
            border: 1px solid #ddd;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="header-container">
        <a href="/submit" class="submit"><h1>NHL Schedule Retrieval</h1></a>
        <a href="/stats" class="submit"><h1>NHL Statistics Retrieval</h1></a>
    </div>
  
        <div class="calendar-controls">
            <h1>Current Month: {{ current_month }}</h1>
            <form method="post" action="/next">
                <button type="submit">Next Month</button>
            </form>
        
            <form method="post" action="/previous">
                <button type="submit">Previous Month</button>
            </form>
            
        </div>
    <form action="/submit" method="POST">
        <div class="dropdown-container">
            <div class="dropdown-wrapper">
                <label for="teams">Teams:</label>
                <select type="text" id="teams" name="teams">
                    {% for team in teams %}
                    <option value="{{ team }}" {% if team == default_team %}selected{% endif %}>{{ team }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit">Submit</button>
        </div>
    <!-- </form> -->
        <div class="calendar">
            <!-- Loop through each date in the schedule -->
            {% for game in schedule %}
            <div class="calendar-day">
                <h2>{{ game['Game Date'] }}</h2>
                <ul>
                <!-- Loop through games on this date -->
                    Game Number: {{ game['Game Number'] }}<br>
                    Home Team: {{ game['Home Team'] }}<br>
                    Away Team: {{ game['Away Team'] }}
                </ul>
            </div>
            {% endfor %}
        </div>
    </form>
    
</body>
</html>