<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats Retrieval</title>
</head>
<body>
    <div class="filter-container">
        <form action="/stats" method="POST">
            <h2>Stats Checklist</h2>

            <div class="dropdown-wrapper">
                <label for="teams">Teams:</label>
                <select type="text" id="teams" name="teams">
                    {% for team in teams %}
                    <option value="{{ team }}" {% if team == default_team %}selected{% endif %}>{{ team }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Filter options -->
            <label>
                <input type="checkbox" name="filter[]" value="name" checked> Name
            </label>

            <label>
                <input type="checkbox" name="filter[]" value="games" checked> Games
            </label>

            <label>
                <input type="checkbox" name="filter[]" value="goals" checked> Goals
            </label>

            <label>
                <input type="checkbox" name="filter[]" value="assists" checked> Assists
            </label>

            <label>
                <input type="checkbox" name="filter[]" value="points" checked> Points
            </label>

            <label>
                <input type="checkbox" name="filter[]" value="shots" checked> Shots
            </label>

            <label>
                <input type="checkbox" name="filter[]" value="hits" checked> hits
            </label>

            <label>
                <input type="checkbox" name="filter[]" value="PPG" checked> PPG
            </label>

            <label>
                <input type="checkbox" name="filter[]" value="PPP" checked> PPP
            </label>

            <label>
                <input type="checkbox" name="filter[]" value="PIM" checked> PIM
            </label>

            <label>
                <input type="checkbox" name="filter[]" value="faceoffPercentage" checked> FO %
            </label>

            <label>
                <input type="checkbox" name="filter[]" value="shotPecentage" checked> Shot %
            </label>

            <label>
                <input type="checkbox" name="filter[]" value="GWG" checked> GWG
            </label>

            <label>
                <input type="checkbox" name="filter[]" value="OTG" checked> OT Goals
            </label>

            <label>
                <input type="checkbox" name="filter[]" value="shorthandedGoals" checked> Shorthanded Goals
            </label>

            <label>
                <input type="checkbox" name="filter[]" value="shorthandedPoints" checked> Shorthanded Points
            </label>

            <label>
                <input type="checkbox" name="filter[]" value="blockedShots" checked> blockedShots
            </label>

            <label>
                <input type="checkbox" name="filter[]" value="plusMinus" checked> +/-
            </label>

            <label>
                <input type="checkbox" name="filter[]" value="shifts" checked> shifts
            </label>
            <!-- Submit button -->
            <button type="submit">Apply Filters</button>
        </form>
    </div>

    <div class="stats-table">
        <table>
            <thead>
                <tr>
                    <th>Player ID</th>
                    <th>Name</th>
                    <th>Time on ice</th>
                    <th>Games</th>
                    <th>Goals</th>
                    <th>Assists</th>
                    <th>Points</th>
                    <th>Shots</th>
                    <th>Hits</th>
                    <th>PPG</th>
                    <th>PPP</th>
                    <th>PIM</th>
                    <th>FO%</th>
                    <th>Shot%</th>
                    <th>GWG</th>
                    <th>OT Goals</th>
                    <th>SH Goals</th>
                    <th>SH Points</th>
                    <th>Blocks</th>
                    <th>+/-</th>
                    <th>Shifts</th>

                </tr>
            </thead>
            <tbody>
                {% for player in stats %}
                <tr>
                    <td>{{ player[0] }}</td>
                    <td>{{ player[1] }}</td>
                    <td>{{ player[2] }}</td>
                    <td>{{ player[3] }}</td>
                    <td>{{ player[4] }}</td>
                    <td>{{ player[5] }}</td>
                    <td>{{ player[6] }}</td>
                    <td>{{ player[7] }}</td>
                    <td>{{ player[8] }}</td>
                    <td>{{ player[9] }}</td>
                    <td>{{ player[10] }}</td>
                    <td>{{ player[11] }}</td>
                    <td>{{ player[12] }}</td>
                    <td>{{ player[13] }}</td>
                    <td>{{ player[14] }}</td>
                    <td>{{ player[15] }}</td>
                    <td>{{ player[16] }}</td>
                    <td>{{ player[17] }}</td>
                    <td>{{ player[18] }}</td>
                    <td>{{ player[19] }}</td>
                    <td>{{ player[20] }}</td>
                    <td>{{ player[21] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>