/* Style the table */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Style the table header */
thead {
    background-color: #007BFF;
    color: white;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Style alternating rows */
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Hover effect on rows */
tbody tr:hover {
    background-color: #cce5ff;
}

/* Style the container for the filters */
.filter-container {
    margin-bottom: 20px;
}

/* Style each filter */
.filters {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

/* Style the label */
.filters label {
    font-weight: bold;
}

/* Style the select element */
.filters select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

/* Style the button */
.filters button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Change button color on hover */
.filters button:hover {
    background-color: #0056b3;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container h1 {
    margin-right: 20px;
}

a {
    color: blue;
    text-decoration: underline;
}
  
a:hover {
    color: darkblue;
}